/* Hero Section Styling */
.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), 
                url('../assets/hero.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1, .hero p {
    margin: 0;
    padding: 0.5rem 0;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 800px;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.btn img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.btn:hover img {
    transform: translateX(5px);
}
