.video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* Ensure it appears above other content */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
}

.video-player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Apply blur effect to the background */
    z-index: -1; /* Ensure it stays behind the video */
}

.video-player video {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    max-width: 90%;
    max-height: 80vh;
    z-index: 1;
}

.video-player.hide {
    display: none;
}
