.programs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #fff;
}

.program {
  position: relative;
  margin: 0 20px;
}

.program img {
  display: block;
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.program img:hover {
  transform: scale(1.05);
}

.program.middle {
  margin-top: -30px; /* Raise the middle image slightly */
}

.caption {
  border-radius: 15px; /* Match the image's border-radius */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.program:hover .caption {
  opacity: 1; 
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}
